VITE_API_URL=https://aguaschol-production.up.railway.app
VITE_FILES_URL=https://aguaschol-production.up.railway.app
VITE_RAILWAY_PROJECT_URL=https://railway.com/project/953aa9b8-7664-4b8f-8bc5-2b1ea03fa5d4/observability?environmentId=421e4168-8901-4055-a0d9-f94a849570f8
